<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/Harshesh/IdeaProjects/SeleniumATB6x">
        <classes>
            <class name="com.thetestingacademy.ex_selenium.katalonLogin">
                <methods>
                    <include name="loginWithValid"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>